/*Fonts*/
@import url('https://fonts.googleapis.com/css2?family=Clicker+Script&family=Poppins:wght@200;300;400;500;600;700&display=swap');
:root{
    --bg-black-900:#f2f2fc;
    --bg-black-100:#fdf9ff;
    --bg-black-50:#e8dfec;
    --text-black-900:#302e4d;
    --text-black-700:#504e70;

}
body.dark
{
    --bg-black-900: #151515;
    --bg-black-100: #222222;
    --bg-black-50: #393939;
    --text-black-900: #ffffff;
    --text-black-700: #e9e9e9;
}
body
{
    line-height: 1.5;
    font-size: 16px;
    font-family: 'Poppins' sans-serif;
}

*{
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
}

::before,::after{
    box-sizing: border-box;
}
ul{
    list-style: none;
}
.section{
    background: var(--bg-black-900);
    min-height: 100vh;
    display: block;
    padding: 0 30px;
    opacity: 1;
}
.hidden{
    display: none !important;
}
.main-content{
    padding-left: 270px;
}
.padd-15{
    padding-left: 15px;
    padding-right: 15px;
}
.container{
    max-width: 1100px;
    width: 100%;
    margin: auto;
}
.section .container{
    padding-top: 60px;
    padding-bottom: 70px;
}
.section-title{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 60px;
}
.section-title h2{
    font-size: 40px;
    color: var(--text-black-900);
    font-weight: 700;
    position: relative;
}
.section-title h2::before{
    content: '';
    height: 4px;
    width: 50px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
}
.section-title h2::after {
    content: '';
    height: 4px;
    width: 25px;
    background-color: var(--skin-color);
    position: absolute;
    top: 100%;
    left: 0;
    margin-top: 8px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;

}
.skill__row{
    display: flex;
    flex-wrap: wrap;
    margin-left: -15px;
    margin-right: -15px;
    position: relative;
}

.btn{
    font-size: 16px;
    font-weight: 500;
    padding: 12px 35px;
    color: white;
    border-radius: 40px;
    display: inline-block;
    white-space:nowrap;
    border: none;
    background: var(--skin-color);
    transition: all 0.3s ease;
}
.btn:hover{
    transform: scale(1.05);
    
}
.shadow-dark{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
/*aside*/
.aside{
    width: 270px;
    background: var(--bg-black-100);
    position: fixed;
    left: 0;
    top: 0;
    padding: 30px;
    height: 100%;
    border-right: 1px solid var(--bg-black-50);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

.aside .logo{
    position: absolute;
    top: 50px;
    font-size: 30px;
    text-transform: capitalize;
}

.aside .logo a {
    color: var(--text-black-900);
    font-weight: 700;
    padding: 15px 20px;
    font-size: 30px;
    letter-spacing: 5px;
    position: relative;
}

.aside .logo a span{
    font-family: 'Clicker Script', cursive;
    font-size: 40px;
}
/*logo red mark style*/

/* .aside .logo a::before{
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-bottom: 5px solid var(--skin-color);
    border-left: 5px solid var(--skin-color);
    bottom: 0;
    left: 0;
} */

/* .aside .logo a::after {
    content: '';
    position: absolute;
    width: 20px;
    height: 20px;
    border-top: 5px solid var(--skin-color);
    border-right: 5px solid var(--skin-color);
    top: 0;
    right: 0;
} */
.aside .nav-toggler{
    height: 40px;
    width: 45px;
    border: 1px solid var(--bg-black-50);
    cursor: pointer;
    position: fixed;
    left: 300px;
    top: 20px;
    border-radius: 5px;
    background: var(--bg-black-100);
    display: none;
    align-items: center;
    justify-content: center;
}
.aside .nav-toggler span {
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    display: inline-block;
    position: relative;
}
.aside .nav-toggler span::before {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: -6px;
    left: 0;
}
.aside .nav-toggler span::after {
    content: '';
    height: 2px;
    width: 18px;
    background: var(--skin-color);
    position: absolute;
    top: 6px;
    left: 0;
}
.aside .nav
{
    margin-top: 50px;

}

.aside .nav li{
    margin-bottom: 20px;
    display: block;
}

.aside .nav li a{
    font-size: 16px;
    font-weight: 600;
    display: block;
    border-bottom: 1px solid var(--bg-black-50);
    border-bottom: 1px solid var(--bg-black-50);
    color: var(--text-black-900);
    padding: 5px 15px;
}

.aside .nav li a.active{
    color: var(--skin-color);
}

.aside .nav li a i {
    margin-right: 15px;
}

/*home*/
.home{
    min-height: 100vh;
    display: flex;
    color: var(--text-black-900);
}
.home .home-info{
    flex: 0 0 60%;
    max-width: 60%;
}
h3.hello{
    font-size: 28px;
    margin: 15px 0;
}
h3.hello span{
    font-family: 'Clicker Script', cursive;
    font-size: 30px;
    font-weight: 700;
    color: var(--skin-color);
}
h3.my-profession{
    font-size: 30px;
    margin: 15px 0;
}
.typing{
   color: var(--skin-color); 
}
.home-info p{
    margin-bottom: 70px;
    font-size: 20px;
    color: var(--text-black-700);
}

.home .home-img{
    flex: 0 0 40%;
    max-width: 40%;
    text-align: center;
    position: relative;
}
.home-img::after{
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-bottom: 10px solid var(--skin-color);
    border-right: 10px solid var(--skin-color);
    right: 20px;
    bottom: -40px;
}
.home-img::before {
    content: '';
    position: absolute;
    height: 80px;
    width: 80px;
    border-top: 10px solid var(--skin-color);
    border-left: 10px solid var(--skin-color);
    left: 20px;
    top: -40px;
}
.home .home-img img{
    margin: auto;
    border-radius: 5px;
    height: 400px;
}

/* About */
.about .about-content{
    flex: 0 0 100%;
    max-width: 100%;
    
}
.about .about-content .about-text{
    flex: 0 0 100%;
    max-width: 100%;
}

.about .about-content .about-text h3{
    font-size: 24px;
    margin-bottom: 15px;
    font-weight: 700;
    color: var(--text-black-900);
}
.about .about-content .about-text h3 span{
    color: var(--skin-color);
}
.about .about-content .about-text p{
    font-size: 20px;
    line-height: 25px;
    color: var(--text-black-700);
}


/*other vid*/

.grid {
    display: grid;
    gap: 1.5rem;
}

/* .about__description{
    text-align: center;
    margin-bottom: 2.5rem;
} */

.about .about-content .about__info{
    display: flex;
    /* if you want to get rid of the work done section on smaller device uncomment the display below */
    /* display: none; */
    flex: 0 0 100%;
    justify-content: space-evenly;
    margin-top: 40px;
    /*Maybe put a min width on this if it don't fit on mobile*/
}
.about .about-content .about__info .about__info-title{
    font-weight: 600;
}
.about .about-content .about__info .item{
    margin-right: 70px;
}
span.about__info-title{
    font-size: 21px;
    font-weight: 600;
    color: var(--text-black-900);
    
}
span.about__info-name{
    font-size: 20px;
    line-height: 25px;
    color: var(--text-black-700);
}
.about__info-title, .about__info-name{
    display: block;
    text-align: center;
}
.about .about-content .buttons{
    /* display: none; */
    margin-top: 30px;
}
.about .about-content .buttons .btn{
    margin-right: 25px;
    margin-top: 10px;
    margin-left: 15px;
}

.download__icon {
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: 0.3s;
}

.skillSection{
    padding: 2rem 0 4rem;
}
@media screen and (min-width: 768px) {
    .skillSection{
        padding: 7rem 0 2rem;
    }
}
.section__title, .section__subtitle{
    text-align: center;
    color: var(--text-black-900);
    font-size: 30px;   
}

@media screen and (min-width: 768px) {
    .section__subtitle{
        margin-bottom: 4rem;
    }
}
.section__subtitle{
    font-size: 1.1rem;
    display: block;
}

/*skills*/
@media screen and (min-width: 768px) {
    .skillcont{
        margin-left: auto;
        margin-right: auto;
    }
}
.skillcont{
    max-width: 768px;
}
.skills__container{
    row-gap: 0;
}

.skills__header{
    display: flex;
    align-items: center;
    margin-bottom: 2.5rem;
    cursor: pointer;
}
.skills__icon, .skills__arrow{
    font-size: 2rem;
    color: var(--skin-color);
}

.skills__icon{
    margin-right: 0.75rem;
}

.skills__title{
    /* used to be 1.125rem maybe for smaller devices check the girl vid for responstivity */
    /* font-size: 1.125rem; */
    /* this font looks better on my labtop */
    font-size: 1.3rem;
    color: var(--text-black-900);
}
.skills__subtitle{
    font-size: 0.913rem;
    color: var(--text-black-700);
}
.skills__arrow{
    margin-left: auto;
    transition: 0.4s;
}
.skills__title{
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
}
.skills__name {
    font-size: 1.1rem;
    font-weight: 600;
}

.skills__bar, .skills__percentage{
    height: 5px;
    border-radius: 0.25rem;
}
.skills__bar{
    background-color: var(--bg-black-50);
    
}
.skills__percentage{
    display: block;
    background-color: var(--skin-color);
}
.skill__level{
    display: flex;
    justify-content: space-between;
    
}
.skill__level span{
    color: var(--text-black-700);
}
/* or write it in line (other skills % is in-line styled) */
.skills_html  {
    width: 90%;
}

.skills__list{
    row-gap: 1.5rem;
    padding-left: 2.7rem;
}

.skills__close .skills__list{
    height: 0;
    overflow: hidden;
}
.skills__open .skills__list{
    height: max-content;
    margin-bottom: 2.5rem;
}

.skills__open .skills__arrow{
    transform: rotate(-180deg);
}

/*Timeline*/
.about .about-content .education, 
.about .about-content .experience
{
    flex: 0 0 50%;
    max-width: 50%;
    margin-top: 30px;
}

.about .about-content h3.title
{
    font-size: 24px;
    margin-bottom: 30px;
    font-weight: 700;
    color: var(--text-black-900);
    text-align: center;
}

.about .about-content .timeline-box{
    flex: 0 0 100%;
    max-width: 100%;
}
.about .about-content .timeline{
    background-color: var(--bg-black-100);
    padding: 30px 15px;
    border: 1px solid var(--bg-black-50);
    border-radius: 10px;
    width: 100%;
    position: relative;
}

.about .about-content .timeline .timeline-item{
    position: relative;
    padding-left: 37px;
    padding-bottom: 50px;
}
.about .about-content .timeline .timeline-item:last-child
{
    padding-bottom: 0;
}

.about .about-content .timeline .timeline-item::before
{
    content: '';
    width: 1px;
    position: absolute;
    height: 100%;
    left: 7px;
    top: 0;
    background-color: var(--skin-color);
}
.about .about-content .timeline .circle-dot
{
    position: absolute;
    left: 0;
    top: 0;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: var(--skin-color);
}

.about .about-content .timeline .timeline-date
{
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 12px;
    color: var(--text-black-700);
}

.about .about-content .timeline .timeline-date .fa
{
    margin-right: 5px;

}

.about .about-content .timeline .timeline-title
{
    font-weight: 700;
    font-size: 18px;
    margin-bottom: 15px;
    text-transform: capitalize;
    color: var(--text-black-900);
}
.about .about-content .timeline .timeline-text
{
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
    color: var(--text-black-700);
}

/* Portfolio */

.portfolio .container
{
    padding-bottom: 40px;
}


.portfolio .portfolio-heading
{
    flex: 0 0 100%;
    max-width: 100%;
    margin-bottom: 40px;
}

.portfolio .portfolio-heading h2
{
    color: var(--text-black-900);
    font-weight: 500;
}

/* .portfolio .portfolio-item
{
    flex: 0 0 33.33%;
    max-width: 33.33%;
    margin-bottom: 30px;
}

.portfolio .portfolio-item-inner
{
    border: 6px solid var(--bg-black-100);
    border-radius: 10px;
    overflow: hidden;
    cursor: pointer;
}
.portfolio .portfolio-item-inner .portfolio-img img
{
    width: 100%;
    height: 300px;
    display: block;
    
} */

/* port style 2 */

.portfolios {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 2rem;
}

.portfolios .portfolio-item img {
    width: 100%;
    height: 300px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.portfolios .portfolio-item .hover-items {
    width: 100%;
    height: 100%;
    background-color: var(--skin-color);
    position: absolute;
    left: 0;
    top: 0;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    transform: scale(0);
    transition: all 0.4s ease-in-out;
}

.portfolios .portfolio-item .hover-items h3 {
    font-size: 1.5rem;
    color: white;
    margin-bottom: 1.5rem;
}
.portfolios .portfolio-item .hover-items p{
    font-size: 1.1rem;
    color: white;
    text-align: center;
}

.portfolios .portfolio-item .hover-items .icons {
    display: flex;
    justify-content: center;
    align-items: center;
}

.portfolios .portfolio-item .hover-items .icons .icon {
    background-color: var(--bg-black-50);
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 1rem;
    cursor: pointer;
    transition: all 0.4s ease-in-out;
}

.portfolios .portfolio-item .hover-items .icons .icon i {
    font-size: 1.5rem;
    color: var(--text-black-900);
    margin: 0 1rem;
}

.portfolios .portfolio-item .hover-items .icons .icon:hover {
    background-color: rgb(0, 174, 255);
}

.portfolios .portfolio-item .hover-items .icons .icon:hover i {
    color: #191d2b;
}

.portfolio-item:hover .hover-items {
    opacity: 1;
    transform: scale(1);
}

/* testing new port */
.portfolios .portfolio-item {
    position: relative;
    background-color: var(--bg-black-50);
    border-radius: 5px;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease-in-out;
}
.portfolios .portfolio-item .port-text {
    margin-top: -7px;
    padding: 1.1rem;
    border-top: 8px solid var(--skin-color);
}

.portfolios .portfolio-item .port-text h4 {
    font-size: 1.5rem;
    margin-bottom: 0.7rem;
    transition: all 0.4s ease-in-out;
    cursor: pointer;
    color: var(--text-black-900);
}



.portfolios .portfolio-item .port-text p {
    color: var(--text-black-700);
    line-height: 2rem;
    padding-bottom: 1rem;
}

/* .portfolios .portfolio-item .image:hover img
{
        width: 100%;
        height: 100%;
        background-color: var(--skin-color);
        position: absolute;
        left: 0;
        top: 0;
        border-radius: 15px;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        opacity: 0;
        transform: scale(0);
        transition: all 0.4s ease-in-out;
} */

/* Contact */
.contact-title
{
    color: var(--skin-color);
    text-align: center;
    font-size: 25px;
    margin-bottom: 20px;
}

.contact-sub-title {
    color: var(--text-black-900);
    text-align: center;
    font-size: 15px;
    margin-bottom: 60px;
}
.contact .contact-info-item{
    flex: 0 0 25%;
    max-width: 25%;
    text-align: center;
    margin-bottom: 60PX;
}
.contact .contact-info-item .contact_icon{
    display: inline-block;
}
.contact .contact-info-item .contact_icon .fa{
    font-size: 25px;
    color: var(--skin-color);
}

.contact .contact-info-item h4
{
    font-size: 18px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: 15px 0 5px;
}
.contact .contact-info-item p{
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 400;
}
.contact .contact-info-item a {
    font-size: 16px;
    line-height: 25px;
    color: var(--text-black-700);
    font-weight: 400;
}
.contact .contact-form{
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .contact-form .col-6{
    flex: 0 0 50%;
    max-width: 50%;
}
.contact .contact-form .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
}
.contact .contact-form .form-item{
    margin-bottom: 30px
}
.contact .contact-form .form-item .form-control
{
    width: 100%;
    height: 50px;
    border-radius: 25px;
    background: var(--bg-black-100);
    border: 1px solid var(--bg-black-50);
    padding: 10px 25px;
    font-size: 16px;
    color: var(--text-black-700);
    transition: all 0.3s ease;
}
.contact .contact-form .form-item .form-control:focus
{
    box-shadow: 0 0 20px rgba(48, 46, 77, 0.15);
}
.contact .contact-form .form-item textarea.form-control
{
    height: 140px;
}
.contact .contact-form .btm{
    height: 50px;
    padding: 0 50px;
}
/* Scroll Bar */
::-webkit-scrollbar
{
    width: 0.60rem;
    background-color: var(--bg-black-50);
    border-radius: 0.5rem;
}
::-webkit-scrollbar-thumb
{
    background-color: var(--text-black-700);
    border-radius: 0.5rem;
}

::-webkit-scrollbar-thumb:hover
{
    background-color: var(--skin-color);
}



/* Media Query */
@media (max-width:1199px)
{
    .aside
    {
        left: -270px;
    }
    .main-content
    {
        padding-left: 0;
    }
    .about .about-content .about__info p span 
    {
        display: block;
        margin-left: 0;
    }
}
 @media (max-width:991px)
 {
    .contact .contact-info-item
    {
        flex: 0 0 50%;
        max-width: 50%;
    }
    .home .home-info
    {
        flex: 0 0 100%;
        max-width: 100%;
    }
    .home .home-img
    {
        display: none;
    }
 }
 @media (max-width:767px)
 {
    .contact .contact-form .col-6,
    .contact .contact-info-item,
    .about .about-content .experience,
    .about .about-content .education,
    .about .about-content .skills,
    .about .about-content .about__info{
        flex: 0 0 100%;
        max-width: 100%;
    }
 
 }

 /* for the skills row flexbox */
 @media(max-width:564px) {

     /* apply CSS til size is less than or equal to 768px */
     .skill__row {
         flex-direction: column;
         gap: 15px;
         align-items: center;
     }
 }
 @media (max-width:350px) {
    .about .about-content .about__info{
        display: none;
    }
 }
















/* portfolio style 2 media Query */
@media screen and (max-width: 600px) {
    .portfolios {
            grid-template-columns: repeat(1, 1fr);
            padding-bottom: 6rem;
            margin-top: 1rem;
        }
    
}

@media screen and (max-width: 1250px) {
    .portfolios {
            grid-template-columns: repeat(2, 1fr);
        }
}

@media screen and (max-width: 660px) {
    .portfolios {
        grid-template-columns: repeat(1, 1fr);
    }
}
